@import url("../../fonts/victormono/victormono.css");

body {
    font-family: "VictorMono", Helvetica, sans-serif;
    color: #fff;
}

.reveal .controls button {
    color: #fff;
}

.reveal {
    background-color: #032b43;
    background-image: url(grid.svg);
    background-repeat: no-repeat;
}

.slides {
    background-color: #f433ab;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 12px 12px 2px 1px rgba(76, 96, 133, .6);
}

.reveal .slides section {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    box-sizing: border-box;
}

.reveal .slides section h1 {
    font-size: 5rem;
}

.reveal .slides section h2 {
    font-size: 3rem;
}

.reveal .slides section .neon  {
    text-shadow:
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #39a0ed,
        0 0 80px #39a0ed;
}

.reveal .slides section .twitter-handle {
    font-size: 1.5rem;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.3);
}
